/*----------------------------------General------------------------------*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 47%, 7%);
  padding: 0rem 2rem;
  margin: 2rem 0rem;
}

h2 {
  font-family: Lexend Deca, Arial;
}

p {
  font-family: Inter, Arial;
}

/*----------------------------------Main Content------------------------------*/

.content-div {
  display: flex;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
  max-width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.top-section {
  display: flex;
  background-color: hsl(277, 85%, 49%);
}



.header-img {
  opacity: 0.6;
  object-fit: cover;
  
}

@media (min-width:700px) {

  .content-div {
    display: flex;
    flex-direction: row-reverse;
    max-width: 62rem;
    max-height: 40rem;
  }
}
/*----------------------------------Top-content------------------------------*/

.top-section {
  display: flex;
}

.getinsights-span {
  color: hsl(277, 64%, 61%);
}

@media (min-width:700px) {
  .top-section {
    width: 50%;
  }

  .topsec-text {
    margin-bottom: 3rem;
  }

  .topsec-text {
    text-align: start;
  }
}

/*----------------------------------Bottom Content------------------------------*/

.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 2rem;
}

.stat-p {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 0rem;
}

@media (min-width:700px) { 
  .bottomsec-text {
    display: flex;
    justify-content: space-between;
  }

  .bottom-section {
    padding: 3rem 4rem 2rem 2rem;
    width: 50%;
  }

}
  
