/*------------------------------------------General--------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display, Arial;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca, Arial;
  font-weight: 400;
  margin-bottom: 4rem;
}

/*------------------------------------------1st Div--------------------------------------*/

.div1 {
  display: flex;
  width: 50rem;
  border-radius: 1rem;
  overflow: hidden;
}

@media (max-width: 500px) {
  main {
    display: flex;
    margin: 2.5rem;
    justify-content: center;
    padding: 0rem;
  }

  .div1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px;
  }
}

/*------------------------------------------1st Column--------------------------------------*/
.div1-1 {
  display: flex;
  flex-direction: column;
  background-color: hsl(31, 77%, 52%);
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  padding: 3rem 3rem 1rem;
}

.sedans-pic {
  margin-bottom: 1rem;
}

.heading-1 {
  font-weight: 700;
}

.paragraph-1 {
  width: 80%;
  margin-bottom: 4rem;
}

.learnmore-btn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: none;
  width: 10rem;
  border-radius: 6rem;
  padding: 1rem 1rem 1rem;
  font-family: Lexend Deca, Arial;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.learnmore-btn:hover {
  border: solid 2.5px;
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.learnmore-btn:active {
  scale: 1.1;
}

@media (max-width: 500px) {
  .div1-1 {
    border-radius: 1rem 1rem 0 0;
  }

}
/*------------------------------------------2nd Column--------------------------------------*/
.div1-2 {
  display: flex;
  flex-direction: column;
  background-color: hsl(184, 100%, 22%);
  width: 100%;
  padding: 3rem 3rem 1rem;
}

.learnmore-btn2 {
  color: hsl(184, 100%, 22%);
}
/*------------------------------------------3rd Column--------------------------------------*/
.div1-3 {
  display: flex;
  flex-direction: column;
  background-color: hsl(179, 100%, 13%);
  width: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 3rem 3rem 1rem;
}

.learnmore-btn3 {
  color: hsl(179, 100%, 13%);
}

@media (max-width: 500px) {
  .div1-3 {
    border-radius: 0 0 1rem 1rem;
  }
}